.aboutWrap {
  /* padding: 30px 10px 20px 20px  ; */
  padding: 60px 30px;
  font-family: sans-serif;
  text-align: left;
  /* display: flex;
    justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.reverse {
  grid-column: auto;
}

.input {
  accent-color: black;
  height: 50%;
  width: 50%;
}

.eachInput {
  background-color: black;
  height: 45px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}
.aboutWrap h1:nth-child(1) {
  /* color: #000000; */
  font-size: 2.5em;
  font-weight: 800;
}

.aboutWrap h1:nth-child(2) {
  /* color: #000000; */
  font-size: 1em;
  font-weight: 900;
}
.aboutWrap span {
  color: #0088ff;
}
.textAndInputFlex {
  display: flex;
  gap: 10px;
}
.aboutWrap p {
  font-size: 18px;
  font-weight: 610;
  color: #a3a3a3;
  line-height: 33px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8%;
}

.inputFlex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
    gap: 40px;
    text-align: left; */
  gap: 20px;
}
.inputFlexSub {
  display: grid;
  gap: 10px;
}
.best-Watch {
  width: 98%;
  height: 100%;
  border-radius: 15px;
}
.seeAll {
  background-color: #0088ff;
  /* width: 50%; */
  padding: 15px 15px;
  border-radius: 20px;
}
.bestWatchCarrier {
  position: relative;
}
@media (min-width: 1016px) {
  .seeAll {
    position: absolute;
    bottom: 5%;
    left: -8%;
  }
}
@media (max-width: 1015px) {
  .aboutWrap {
    grid-template-columns: 1fr;
    gap: 40px;
    /* text-align: center; */
  }
  .best-Watch {
    width: 100%;
  }
  .inputFlex {
    gap: 10px;
  }
}
@media (max-width: 524px) {
  .inputFlex {
    grid-template-columns: 1fr;
  }
  /* .seeAll{
        width: 80%;
    } */
}

.seeAll h3 {
  color: white;
  font-family: poppings;
}
.seeAll p {
  color: #fff;
  font-size: 15px;
  max-width: 400px;
}
/* flexRate style starts here */
.flexRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.flexRate button {
  background-color: black;
  color: white;
  width: 50px;
  height: 40px;
  font-weight: 800;
  border: 1px solid;
  border-bottom: none;
  border-radius: 7px;
}
.lineCarrier {
  background-color: #a3a3a3;
  height: 5px;
  width: 100%;
  margin-top: -7px;
  border-radius: 5px;
  padding: 1px;
  box-shadow: 2px 1px 3px rgb(117, 115, 112);
}
.width1 {
  width: 99%;
}
.width {
  background-color: black;
  height: 5px;
  border-radius: 5px;
}
.width2 {
  width: 98%;
}
.width3 {
  width: 65%;
}
.ratingWrap2 {
  display: grid;
  gap: 14px;
}
.flexRate h3 {
  font-weight: 800;
  font-size: 1.1rem;
}

/* factWrap style starts  */
.factWrap {
  text-align: center;
}
.factWrap p {
  color: #a3a3a3;
  padding: 8px;
  font-size: large;
  font-weight: 600;
}
.numbersFlex {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}
.numbersFlex h1 {
  color: white;
  font-size: 3.7rem;
}

.figureBg {
  background-image: url(../images/row-bg.jpg);
  height: 70vh;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 699px) {
  .figureBg {
    height: fit-content;
    
  }
  .numbersFlex{
flex-direction: column;
  }
}

.line {
display: inline-block;
  margin: 0 auto;
  /* height: 10px; */
  background-color: #0088ff;
  border-radius: 1px;
  margin-bottom: -5%;
  z-index: 400;
  padding: 10px 15px ;
    color: #fff;
    border-radius: 5px;
    font-family: 'Courier New', Courier, ;
    font-weight: bold;
}
.numbersFlex button {
  height: 50px;
  width: 100%;
  color: black;
  font-size: larger;
  font-weight: 430;
  border: none;
  background-color: white;
  border-radius: 4px;
  transition: 0.3s ;
}
.numbersFlex button:hover{
background-color: #0088ff;
color: #fff;

}
.joinWrap{
    padding: 20px 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.joinWrap h1{
    font-size: 2.5rem;
    font-weight: 750;
    margin-bottom: 20px ;
}
.joinWrap span{
    color: #0088ff;
}
.joinWrap p{
    color: #a59d9d;
    font-size: 19px;
    font-weight: 500;
    margin-top: 0;
    line-height: 25px ;
}
.slider-carrier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
margin-bottom: 6% ;    
}
.slider{
display: flex;
align-items: center;
justify-content: center;
gap: 10px ;

}
.imgAndText2{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.imgAndText2 img{
    height: 85px;
    width: 85px;
    border-radius: 10rem;
}