

.checkoutWrap{
    align-items: center;
    justify-content: center;
    display: grid;
    border: 1px solid grey ;
    margin: 20px auto 20px auto;
    padding: 20px 20px;
}
@media (min-width:600px) {
    .checkoutWrap{
        width: 60%;
        margin: 20px auto 20px auto;

    }
}
.checkoutWrap input,textarea,select{
    width: 100%;
    color: black;
}

.flexQuantity{
    display: flex;
    gap: 10px;
}
.flexQuantity input{
    border: none;
    background-color: none;
}

.checkoutWrap input,select{
    height: 40px;
    border-radius: 10px;
    border:0.2px solid grey;
    padding: 5px;
    margin-bottom: 5px;
}
.checkoutWrap textarea{
   
    border-radius: 10px;
    border:0.2px solid grey ;
    padding: 5px;
    margin-bottom: 5px;
}

.flexForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.hideOrder{
    display: none;
}

.orderMessage{
    padding: 20px;
    color: green;
}
.flexQuantity input{
    border: none;
    outline: none;
    /* background-color: transparent; */
}
.total{
    border: none;
    outline: none;
}

.submit{
    padding: 10px 0px;
    border-radius: 7px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 20px;
}