
/* */


.header{
    padding: 14px 25px ;
    /* position: relative; */
    transition: 0.3s ;
    border-bottom: 1px solid grey;

}
.fixed{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0px 7px 50px rgb(92, 89, 89);
    padding: 18px 25px ;
    /* position: relative; */
    z-index: 1000;
    background-color: black;
    color: white;
    transition: 0.3s;
}
.nav{
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}
.ul{
    display: flex;
}

li{
    padding: 0px 13px ;
    list-style-type: none;
    /* border-right: 2px solid #a3a3a3; */
}
a{
    text-decoration: none;
    /* color: #a3a3a3 ; */
    font-weight: bold;
}
.ul a{
    text-decoration: none;
    /* color: #a3a3a3 ; */
    font-weight: bold;
}
/* .ul a.active{
    color:red;
} */

/* .ul a:hover,.ul a.active{
    color: red;
} */
.cartIcon{
    cursor: pointer;
    
  
}
.cartIcon img{
    object-fit: cover;
    border-radius: 120px;
    height: 50px;

width: 50px;}
.cartIconCarrier{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cartIconCarrier button{
    background-color: black;
    color: #ffffff;
    border: none;
    font-size: 14px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: lighter;
    font-weight: bold;
}
.menu{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 33px;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5rem;
   
}
.home{
    /* color: black ; */
}

.menu div{
    background-color: white;
    height: 2px;
    width: 50%;
}
@media (min-width:971px) {
    .menu{
            display: none;
    }
    .remove{    
        display: none;
    }
    
}
@media (max-width:970px) {
    .ul{
        display: none;
        /* transition: 0.3s ease-in; */
        

    }
    .ulShow{
        position: absolute;
        flex-direction: column;
        gap: 15px ;
        padding-top: 15px ;
        text-align: left;
        top: -15px;
        left: 0px ;
        background-color: black;
        height: 100vh;
        width: 65%;
        transition: 10s ;
        z-index: 300;
          animation: fadeAnimation 2s ease  alternate;


    }
    @keyframes fadeAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    .remove{
        position: absolute;
        right: -1px;
        color: white ;
        font-size: 45px ;
        border: none;
        font-weight: 100;
        z-index: 400;
        top: -1px ;
        margin-right: 10px;
    }
    li{
        padding: 12px 0px ;
        border-bottom: 1px solid #a3a3a3;
    }
    .contactUs{
        display: none;
    }
   
    .cartIcon img{
        height: 35px;
        width: 35px;
        object-fit: cover;

    }
    .logoImg{
        /* height: 100px; */
        width: 150px;
        object-fit: cover;
    }
    .header{
        box-shadow: 0px 7px 20px rgb(209, 204, 204);
        padding: 20px 13px ;

    }

}

.logoWrap{
    display: flex;
    align-items: center;
    color: white;
}
.logoWrap img{
    width: 35px;
    z-index: -4;
}