.flexQuestionAndArrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px ;
padding: 5px ;
}
.flexQuestionAndArrow span{
   font-weight: 900;
   font-size: 25px ;
   transition: 0.4s ;

}
.answerWrap{
    margin-bottom: 30px ;
    cursor: pointer;
    padding: 10px ;
    border-radius:15px  25px ;
/* color: black; */
background-color: #00000007;
box-shadow: 5px 1px 12px rgb(119, 115, 115);


}
.answerWrap p{
    /* color: rgb(85, 79, 79); */

}
.answer2{
    margin-top: 20px ;
}