
.section2Wrap{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px  20px;
    gap: 20px;
}
.section2Wrap img{
    margin-bottom: 0;
}

.section2Wrap .white{
    color: #0c0c0c;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 4px;
}

.section2Wrap p{
    color: #a3a3a3 ;
    font-weight: bold;
    margin-top: 0;
    line-height: 25px;
}
.subCarrier{
display: flex;
flex-direction: column;
gap: 15px ;
}
.clockImg{
    width: 100%;
}

.secondWrap{
    display: flex;
    flex-direction: column;
    gap: 20px ;
}
@media (max-width:970px) {
    
    .section2Wrap{
        /* flex-wrap: wrap; */
        padding: 40px 20px ;
        flex-direction: column;

    }
    
    .subCarrier{
        /* gap: 20px ; */
        text-align: center;
        /* margin: 0 auto; */
        
        padding: 20px ;
        justify-content: center;
    }
}
@media (max-width:480px){
.subCarrier{
    text-align: center;
    padding: 20px ;
}
}


/* section3/gadgets css starts here  */
.gadget{
    padding: 45px 30px ;
}
.gadgetDemo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(../images/box-bg-1.jpg);
    border-radius: 5rem;
    /* object-fit: cover; */
    /* opacity: 0.4; */
    height: 100%;

    
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95vh;
    background-size: cover;


    &::before {
            border-radius: 5rem;

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
        pointer-events: none;
      }
   
}
.darkened-background {
    position: relative;
   /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Adjust as needed */
  
    /* Darkening overlay */
    &::before {
      content: "";
      /* position: absolute;
      top: 0;
      left: 0; */
      width: 100%;
      /* height: 100vh; */
      background: linear-gradient(rgba(0, 30, 0, 0.3), rgba(0, 30, 0, 0));
      pointer-events: none;
    }
  }
  





.gadget h1{
    font-size: 40px ;
    font-weight: 800;
    color: #ffffff;
    z-index: 100;
}
.gadget p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 480;
    z-index: 100;

    
}
.gadgetPara{
    max-width: 85% ;
    line-height: 30px;


}
.imgFlex{
    display: flex;
    align-items: center;
  gap: 7%;
  z-index: 100;
  margin-top: 35px;


  /* justify-content: space-between; */
}
.gadget img{
    border-radius: 10rem ;
}
@media (max-width:873px){
    .imgFlex{
        flex-direction: column;
        gap: 25px;
    }
    .gadget p{
        max-width: none;
    }

    .gadget h1{
        font-size-adjust: inherit;
    }

    .gadgetDemo{
      
        height: fit-content;
    padding: 10px;
    
        &::before {
                border-radius: 5rem;
    
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
            pointer-events: none;
          }
       
    }
}
