.section4 h1{
font-size: 44px;
}
.section4  span{
    color: #0088ff;

}
.para{
    color: #666666;
    font-size: 17px ;
    max-width: 680px;
    line-height: 30px;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 20px ;
}
.imgAndText
.watchFlex{
    display: flex;
 
    align-items: center;
    /* flex-wrap:wrap; */
    gap: 20px;
    justify-content: space-between;
    padding: 20px 25px ;
    /* background-color: #0088ff; */
}
.watchFlex1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    padding: 20px 25px ;
    justify-content: space-between;
    align-items: center;
    


}
@media (max-width:800px) {
    .watchFlex{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media (max-width:460px) {
    .watchFlex{
        display: grid;
        grid-template-columns: 1fr ;
    }
}
.watchFlex img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.watchSub{

    display: grid;
    grid-area: 30px;
    padding: 30px  15px ;
    /* background-color: #ffffff; */
    border-radius: 20px;
    box-shadow: 0px 7px 80px rgb(216, 209, 209);
    position: relative;


}
.watchCarrier{
    /* padding: 20px; */
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    background-color: #f2f2f2;
}
.watchFlex button{
    padding: 12px 30px;
   background-color: #0088ff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    font-size: 17px;
}

.name{
    /* color: #000; */
    font-weight: bold;
    font-size: 18px;
}
.price{
    /* color: #000; */
    font-size: 18px ;
    margin-left: 3px ;
    /* font-weight: lighter; */
}
del{
    /* color: #626262; */

}
.sale{
    padding: 20px;
    background-color: white;
    border-radius: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 8px ;
    left: 8px;
    color: black;
    font-weight: bold;
    box-shadow: 0px 7px 80px rgb(168, 167, 167);

}

/* testimonials css  */

.testimonials{
text-align: left;
display: grid;
align-items: center;
justify-content: space-between;
grid-template-columns: 1fr 1fr ;
gap: 40px ;
padding: 50px ;
/* background-color: white; */
margin-top: 20px;
margin-bottom: 30px ;
}

.testimonials h1{
    font-size: 34px;
    /* color: #000000; */
    margin-bottom: -10px;

}

.changeToWHite{
color: white;
}
.testimonials h4{
    color: #0088ff;
    font-size: 16px;
    
}




.testimonials h1{
    /* color: white; */
}
.testimonials p{
    color: #919191;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    line-height: 25px ;
    /* line-height: ; */
}
.testimonials h5{
    /* color: #000000; */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    /* line-height: ; */
}

.imgAndText{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px ;
    text-align:left;
}
.imgAndText h5{
    margin-bottom: 0;
}
.imgAndText p{
    margin-top: 0;
}
.imgAndText img{
    height: 85px;
    width: 85px;
    border-radius: 10rem;
}
.satisfiedCarrier{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.satisfied{
    border-radius: 10px;
    width: 100%;
}
.subSatisfied{
}
.watchFront{
    position: absolute;
    width: 50%;
    bottom: -25%;
    left: -10%;
}
.check{
    position: relative;
}
.quote{
    width: 70px;
    height: 70px;
    margin-top: 0px;

}

.quoteCarrier{
    margin-top: 0px;
    display: flex;
    justify-content: end;
}
.testimonialBox{
    max-width: 600px;
    margin-top: 30px;
}
@media (max-width:870px) {
    .testimonials{
        grid-template-columns: 1fr ;
        padding: 30px  ;
        display: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 50px ;
        background-color: red;
    }
    .testimonialBox{
        max-width: 320px ; 
        margin: 0 auto;
        margin-top: 10% ;
        background-color: #0088ff;
     }
   .testimonials h1{
    font-size: 1.5em ;
    /* color: red; */
   }
    
   .testimonials{
    padding: 40px 20px ;
   }
   .testimonials p{
    font-size: 1rem;
    
   }
   .imgAndText{
    justify-content:start;
   }
    
    /* .slide{
        width: 100%;
    } */

    .imgAndText{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .watchFront{
        position: absolute;
        width: 50%;
        bottom: -25%;
        left: -5%;
    }
    .quote{
        height: 50px;
        width: 50px;
        margin: 10px 0px ;
    }

}

 @media (max-width:320px) {
    .testimonialBox{
        max-width: 200px ; 
        margin: 0 auto;
        margin-top: 10% ;
     }
 }

/* nearByFlex */

.nearByFlex{
    padding: 0px 30px ;
    margin-top: 20%;
    margin-bottom: 20%;

}
.nearByWrap h1{
    font-size: 30px ;
    font-weight: 800;
    color: #ffffff;
    z-index: 100;
    margin-bottom: 0;
    margin-top: -5px;
}

.nearByWrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-image: url(../images/box-bg-1.jpg); */
    border-radius: 3rem;
    /* object-fit: cover; */
    /* opacity: 0.4; */
    height: 100%;
        background-image: url(../images/box-bg.jpg);

    align-items: center;
    justify-content: center;
    position: relative;
    /* height: 74vh; */
    background-size: cover;
    padding: 20px 0px ;


    &::before {
            border-radius: 3rem;
            padding: 20px 0px ;

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
        pointer-events: none;
      }

    
}



.nearByWrap p{
    color: white;
    font-size: 18px;
    font-weight: 490;
    z-index: 100;
    max-width:58% ;
    line-height: 30px;
    margin-top: 0;

}

.btn1{
    z-index: 100;
    display: flex;
    gap: 10px;

}
@media (min-width:442px){
    .nearByWrap{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0px 0px ;
        /* background-image: url(../images/box-bg-1.jpg); */
        border-radius: 6rem;
        /* opacity: 0.4; */
        /* height: 100%; */
            background-image: url(../images/box-bg.jpg);
    
        align-items: center;
        justify-content: center;
        position: relative;
        height: 74vh;
        background-size: cover;
    
    
        &::before {
                border-radius: 6rem;
                /* padding: 10px 0px ; */
                

            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 74vh;
            background: linear-gradient(rgba(white), rgba(white));
            pointer-events: none;
          }
    
        
    }
    
        .nearByWrap h1{
                font-size: 40px;
        }
}
@media (max-width:502px) {
    .btn1{
        flex-direction: column;
        gap: 20px;
    }
   
}
.ratingWrap{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    align-items:center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.ratingWrap img{
    width: 90%;
}
.btn1 button:nth-child(1){
    /* background-color: #000; */
    height: 50px;
    width: 200px;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ;

}


.btn1 button:nth-child(2){
    /* background-color: #000; */
    height: 50px;
    width: 200px;
    border-radius: 3rem;
    border: 1px solid #626262;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: transparent;
    transition: 0.5s ;
}
.btn button:nth-child(1):hover{
    background-color: #0088ff;
    color: white;
    }
.btn button:nth-child(2):hover{
background-color: white;
color: black;
}

/* new css */
.categoryAndLengthWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    gap: 4px ;
    flex-wrap: wrap;
}
.categoryAndLengthWrap h4{
    color: #0088ff;
    font-weight: bolder;
}

.categoryWrap{
    display: flex;
    gap: 10px ;
    flex-wrap: wrap;
    padding: 7px;
    justify-content: center;
}


.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 7px 12px;

    /* font-size: 20px; */
    /* font-family: 'montserrat'; */
    cursor: pointer;
    font-weight: bolder;
    transition: 0.8s;
    overflow: hidden;
    position: relative;
}
.btn1,.btn2{
color: #3498db;
}
.btn3,.btn4{
    color: #fff;
}

.btn:hover,.btn2:hover{
    color: #fff;
}

.btn3:hover,.btn4:hover{
    color: #3498db;

}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color:#3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before,.btn4::before{
    bottom: 0;
    border-radius:50% 50%  0 0;
}
.btn3::before,.btn4::before{
    height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
    height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
    height: 0%;
}
.watchPad{
    padding: 3% 0px;
}

.BackgroundImg{
    background-image: url(../images/black-watch-600x600.png);
    height: 100vh;
    
    background-color: black;
}